* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
}

:root {
    --fundo-escuro: #0B0616;
    --fundo-claro: #221C2D;
    --vermelho: #FF004C;
    --roxo: #7A3BFF;
    --branco: #FFFFFF;
    --cinza: #D6D2E6;


    --tamanho-titulo: 36px;
    --tamanho-titulo-responsivo: 35px;
    --tamanho-subtitulo: 32px;
    --tamanho-texto-btn: 150%;
    --fonte-texto: 130%;
}

.layout_guide {
    width: 80%;
}